<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f8f71">  <td>19/05/12 12:59:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC002CreateLead@59ec2012]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/05/12 13:00:24</td>   <td>31502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC002CreateLead@59ec2012]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/05/12 12:59:22</td>   <td>-30373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC002CreateLead@59ec2012]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/05/12 12:59:53</td>   <td>976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC002CreateLead@59ec2012]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/05/12 12:59:32</td>   <td>-20121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002CreateLead.loginLogout(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002CreateLead@59ec2012]">loginLogout</td> 
  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/05/12 13:00:01</td>   <td>8465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002CreateLead.loginLogout(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002CreateLead@59ec2012]">loginLogout</td> 
  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/05/12 12:59:20</td>   <td>-32307</td> <td>&nbsp;</td><td title="&gt;&gt;TC002CreateLead.setData()[pri:0, instance:testcases.TC002CreateLead@59ec2012]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1900164709</td>   <td></td> </tr>
</table>
